<div class="modal-header">
  <h3 class="modal-title">Submitting CaseOLAP Request</h3>
</div>
<div class="modal-body">
  <div class="wrapper-sm">
    <p><b>Target Entity Type</b>: {{$ctrl.request.targetEntityType}}</p>
    <p><b>Output Entity Type</b>: {{$ctrl.request.outputEntityType}}</p>
    <p><b>Relation</b>: {{$ctrl.request.relation}}</p>
    <p><b>Target Entity Subtypes</b>:</p>
    <p ng-repeat="subtype in $ctrl.request.targetEntitySubtypes">&nbsp;&nbsp;&nbsp;&nbsp;{{subtype}}</p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-info" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>