<div class="modal-header">
    <h2 class="modal-title">{{edge.source}} - {{edge.target}}</h2>
</div>
<div class="modal-body">
    <div class="wrapper-sm">
        <div class="panel-body" ng-if="edge.docs == null || edge.docs.length == 0">
            <p>No document available</p>
        </div>
        <div class="panel panel-default" ng-repeat="doc in edge.docs">
            <div class="panel-heading"><a ng-href="https://www.ncbi.nlm.nih.gov/pubmed/{{doc.pmid}}" target="_blank">{{doc.title}}</a></div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="sent in doc.sentences">{{sent}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="$ctrl.ok()">Close</button>
</div>