<div class="modal-header">
    <h3 class="modal-title">Entity: {{node.label}}</h3>
</div>
<div class="modal-body">
    <div class="wrapper-sm">
        <div class="panel-body" ng-if="node.docs == null || node.docs.length==0">
            <p> No document available </p>
        </div>
        <div class="panel panel-default" ng-repeat="doc in node.docs">
            <div class="panel-heading"><a ng-href="https://www.ncbi.nlm.nih.gov/pubmed/{{doc.pmid}}" target="_blank"><b>Title: {{doc.title}}</b></a></div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="sent in doc.sentences">Sentence: {{sent}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="$ctrl.ok()">Close</button>
</div>