<div class="modal-header">
  <h3 class="modal-title">Submitting Request</h3>
</div>
<div class="modal-body">
  <div class="wrapper-sm">
    <p>Target Entity Type: {{$ctrl.request.targetEntityType}}</p>
    <p>Output Entity Type: {{$ctrl.request.outputEntityType}}</p>
    <p>Relation: {{$ctrl.request.relation}}</p>
    <p>Target Entity Subtypes:<p>
    <p ng-repeat="subtype in $ctrl.request.targetEntitySubtypes">&nbsp;&nbsp;&nbsp;&nbsp;{{subtype}}</p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-info" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>