
@import '../../components/variables.css';

.root {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  text-align: center;
  /*max-width: var(--max-content-width);*/
}

.title {
  font-weight: bold;
  font-size: 5em;
  line-height: 1em;
  font-family: fantasy;
}
