
@import '../../components/variables.css';

.root {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  height: 70vh;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}
